In [1]:
#Importing Required Libraries:
import pandas as pd
import numpy as np

In [38]:
FiveThirtyEight = pd.read_csv("FiveThirtyEight.csv", index_col = 0)
ESPN = pd.read_csv("ESPN_PastData.csv", index_col = 0)

In [39]:
#Data Cleaning: removing unnecessary columns from the dataframes, removing unused old data, and removing bad rows (with no win probability):
#FiveThirtyEight['year'] = FiveThirtyEight['date'].to_numeric()

#Converting Datatypes of Columns:
FiveThirtyEight.astype({'season': 'int32', 'fivethirtyeight_home_wp': 'float'})
ESPN.astype({'season': 'int32', 'winpb_home': 'float', 'winpb_away': 'float'})
FiveThirtyEight['date'] = pd.to_datetime(FiveThirtyEight['date'])
ESPN['game_date'] = pd.to_datetime(ESPN['game_date'])

#Adding in Columns for Year, Month, Day:
ESPN['year'], ESPN['month'], ESPN['day'] = ESPN['game_date'].dt.year, ESPN['game_date'].dt.month, ESPN['game_date'].dt.day
FiveThirtyEight['year'], FiveThirtyEight['month'], FiveThirtyEight['day'] = FiveThirtyEight['date'].dt.year, FiveThirtyEight['date'].dt.month, FiveThirtyEight['date'].dt.day

#Filtering 538 to only include data of past 5 years:
options = [2018,2019,2020,2021,2022] 
FiveThirtyEight = FiveThirtyEight.loc[FiveThirtyEight['season'].isin(options)]

In [40]:
#Renaming Columns:
FiveThirtyEight = FiveThirtyEight.rename(columns={"team1": "home_team", "team2": "away_team", 'fivethirtyeight_home_wp' : "538_home_wp"})
ESPN = ESPN.rename(columns={"home_team_abb": "home_team", "away_team_abb": "away_team", "winpb_home": "ESPN_home_wp", "winpb_away": "ESPN_away_wp"})

In [41]:
#Adding Column to 538 Data for away win probabilities:
FiveThirtyEight['538_away_wp'] = 1 - FiveThirtyEight['538_home_wp']

In [42]:
# Filtering out bad data from ESPN:
ESPN = ESPN[ESPN['ESPN_home_wp'] != -1]

In [43]:
#Converting date column to be in same format as 538 data:
ESPN['date'] = pd.to_datetime(ESPN["game_date"].dt.strftime('%Y-%m-%d'))

In [44]:
#Removing unnecessary columns:
ESPN = ESPN[['date', 'season', 'home_team', 'away_team', 'ESPN_home_wp', 'ESPN_away_wp']]
FiveThirtyEight = FiveThirtyEight[['date', 'season', 'home_team', 'away_team', '538_home_wp', '538_away_wp']]

In [45]:
#Changing Team Names to Match Between Two Dataframes:
teams_dict = {'CHA' : 'CHO', 'PHX' : 'PHO', 'BKN' : 'BRK', 'GS' : 'GSW', 'UTAH' : 'UTA', 'NO' : 'NOP', 'WSH' : 'WAS', 'NY' : 'NYK', 'SA' : 'SAS'}
ESPN = ESPN.replace({'home_team' : teams_dict})
ESPN = ESPN.replace({'away_team': teams_dict})
FiveThirtyEight = FiveThirtyEight.replace({'home_team' : teams_dict})
FiveThirtyEight = FiveThirtyEight.replace({'away_team': teams_dict})

In [46]:
#New Dataframe that appends two datasets:
combined = pd.merge(ESPN, FiveThirtyEight, on=['date', 'season', 'home_team', 'away_team'])
combined

,date,season,home_team,away_team,ESPN_home_wp,ESPN_away_wp,538_home_wp,538_away_wp
0,2022-01-01,2022,MIL,NOP,0.778,0.222,0.812719,0.187281
1,2022-01-02,2022,TOR,NYK,0.674,0.326,0.648274,0.351726
2,2022-01-02,2022,BOS,ORL,0.763,0.237,0.866706,0.133294
3,2022-01-02,2022,CLE,IND,0.768,0.232,0.744767,0.255233
4,2022-01-02,2022,SAC,MIA,0.365,0.635,0.385192,0.614808
...,...,...,...,...,...,...,...,...
1072,2018-11-03,2019,IND,BOS,0.485,0.515,0.616342,0.383658
1073,2018-11-03,2019,ATL,MIA,0.319,0.681,0.456889,0.543111
1074,2018-11-04,2019,MIL,SAC,0.829,0.171,0.777320,0.222680
1075,2018-11-04,2019,BRK,PHI,0.406,0.594,0.409810,0.590190
1076,2018-11-04,2019,WAS,NYK,0.647,0.353,0.679338,0.320662

In [47]:
combined['model_home_wp'] = (combined['ESPN_home_wp'] + combined['538_home_wp'])/2
combined['model_away_wp'] = (combined['ESPN_away_wp'] + combined['538_away_wp'])/2
combined

,date,season,home_team,away_team,ESPN_home_wp,ESPN_away_wp,538_home_wp,538_away_wp,model_home_wp,model_away_wp
0,2022-01-01,2022,MIL,NOP,0.778,0.222,0.812719,0.187281,0.795359,0.204641
1,2022-01-02,2022,TOR,NYK,0.674,0.326,0.648274,0.351726,0.661137,0.338863
2,2022-01-02,2022,BOS,ORL,0.763,0.237,0.866706,0.133294,0.814853,0.185147
3,2022-01-02,2022,CLE,IND,0.768,0.232,0.744767,0.255233,0.756383,0.243617
4,2022-01-02,2022,SAC,MIA,0.365,0.635,0.385192,0.614808,0.375096,0.624904
...,...,...,...,...,...,...,...,...,...,...
1072,2018-11-03,2019,IND,BOS,0.485,0.515,0.616342,0.383658,0.550671,0.449329
1073,2018-11-03,2019,ATL,MIA,0.319,0.681,0.456889,0.543111,0.387945,0.612055
1074,2018-11-04,2019,MIL,SAC,0.829,0.171,0.777320,0.222680,0.803160,0.196840
1075,2018-11-04,2019,BRK,PHI,0.406,0.594,0.409810,0.590190,0.407905,0.592095
1076,2018-11-04,2019,WAS,NYK,0.647,0.353,0.679338,0.320662,0.663169,0.336831

In [48]:
def Outcome(df):
    if (df['score1'] > df['score2']):
        return df['team1']
    elif (df['score2'] > df['score1']):
        return df['team2']
    elif (df['score2'] == df['score1']):
        return 'Tie'
    else:
        return "NA"

In [49]:
#Adding in Game Outcomes
FiveThirtyEightOriginalData = pd.read_csv("https://projects.fivethirtyeight.com/nba-model/nba_elo.csv")
FiveThirtyEightOriginalData['Outcome'] = FiveThirtyEightOriginalData.apply(Outcome, axis = 1)
FiveThirtyEightOriginalData = FiveThirtyEightOriginalData[['date', 'season', 'team1', 'team2', 'Outcome']]
FiveThirtyEightOriginalData = FiveThirtyEightOriginalData.rename(columns={"team1": "home_team", "team2": "away_team"})
FiveThirtyEightOriginalData['date'] = pd.to_datetime(FiveThirtyEightOriginalData['date'])
combined = pd.merge(combined, FiveThirtyEightOriginalData, on=['date', 'season', 'home_team', 'away_team'])

,date,season,home_team,away_team,ESPN_home_wp,ESPN_away_wp,538_home_wp,538_away_wp,model_home_wp,model_away_wp,Outcome
0,2022-01-01,2022,MIL,NOP,0.778,0.222,0.812719,0.187281,0.795359,0.204641,MIL
1,2022-01-02,2022,TOR,NYK,0.674,0.326,0.648274,0.351726,0.661137,0.338863,TOR
2,2022-01-02,2022,BOS,ORL,0.763,0.237,0.866706,0.133294,0.814853,0.185147,BOS
3,2022-01-02,2022,CLE,IND,0.768,0.232,0.744767,0.255233,0.756383,0.243617,CLE
4,2022-01-02,2022,SAC,MIA,0.365,0.635,0.385192,0.614808,0.375096,0.624904,SAC
...,...,...,...,...,...,...,...,...,...,...,...
1072,2018-11-03,2019,IND,BOS,0.485,0.515,0.616342,0.383658,0.550671,0.449329,IND
1073,2018-11-03,2019,ATL,MIA,0.319,0.681,0.456889,0.543111,0.387945,0.612055,ATL
1074,2018-11-04,2019,MIL,SAC,0.829,0.171,0.777320,0.222680,0.803160,0.196840,MIL
1075,2018-11-04,2019,BRK,PHI,0.406,0.594,0.409810,0.590190,0.407905,0.592095,BRK
1076,2018-11-04,2019,WAS,NYK,0.647,0.353,0.679338,0.320662,0.663169,0.336831,WAS

In [52]:
def ModelOutcome(df):
    if (df['model_home_wp'] > df['model_away_wp']):
        return df['home_team']
    elif (df['model_away_wp'] > df['model_home_wp']):
        return df['away_team']
    elif (df['model_away_wp'] == df['model_home_wp']):
        return 'Tie'
    else:
        return "NA"

In [53]:
combined['ModelPredOutcome'] = combined.apply(ModelOutcome, axis = 1)
combined

,date,season,home_team,away_team,ESPN_home_wp,ESPN_away_wp,538_home_wp,538_away_wp,model_home_wp,model_away_wp,Outcome,ModelPredOutcome
0,2022-01-01,2022,MIL,NOP,0.778,0.222,0.812719,0.187281,0.795359,0.204641,MIL,MIL
1,2022-01-02,2022,TOR,NYK,0.674,0.326,0.648274,0.351726,0.661137,0.338863,TOR,TOR
2,2022-01-02,2022,BOS,ORL,0.763,0.237,0.866706,0.133294,0.814853,0.185147,BOS,BOS
3,2022-01-02,2022,CLE,IND,0.768,0.232,0.744767,0.255233,0.756383,0.243617,CLE,CLE
4,2022-01-02,2022,SAC,MIA,0.365,0.635,0.385192,0.614808,0.375096,0.624904,SAC,MIA
...,...,...,...,...,...,...,...,...,...,...,...,...
1072,2018-11-03,2019,IND,BOS,0.485,0.515,0.616342,0.383658,0.550671,0.449329,IND,IND
1073,2018-11-03,2019,ATL,MIA,0.319,0.681,0.456889,0.543111,0.387945,0.612055,ATL,MIA
1074,2018-11-04,2019,MIL,SAC,0.829,0.171,0.777320,0.222680,0.803160,0.196840,MIL,MIL
1075,2018-11-04,2019,BRK,PHI,0.406,0.594,0.409810,0.590190,0.407905,0.592095,BRK,PHI
1076,2018-11-04,2019,WAS,NYK,0.647,0.353,0.679338,0.320662,0.663169,0.336831,WAS,WAS

In [55]:
combined['Accurate?'] = combined['Outcome'] == combined['ModelPredOutcome']
combined

,date,season,home_team,away_team,ESPN_home_wp,ESPN_away_wp,538_home_wp,538_away_wp,model_home_wp,model_away_wp,Outcome,ModelPredOutcome,Accurate?
0,2022-01-01,2022,MIL,NOP,0.778,0.222,0.812719,0.187281,0.795359,0.204641,MIL,MIL,True
1,2022-01-02,2022,TOR,NYK,0.674,0.326,0.648274,0.351726,0.661137,0.338863,TOR,TOR,True
2,2022-01-02,2022,BOS,ORL,0.763,0.237,0.866706,0.133294,0.814853,0.185147,BOS,BOS,True
3,2022-01-02,2022,CLE,IND,0.768,0.232,0.744767,0.255233,0.756383,0.243617,CLE,CLE,True
4,2022-01-02,2022,SAC,MIA,0.365,0.635,0.385192,0.614808,0.375096,0.624904,SAC,MIA,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072,2018-11-03,2019,IND,BOS,0.485,0.515,0.616342,0.383658,0.550671,0.449329,IND,IND,True
1073,2018-11-03,2019,ATL,MIA,0.319,0.681,0.456889,0.543111,0.387945,0.612055,ATL,MIA,False
1074,2018-11-04,2019,MIL,SAC,0.829,0.171,0.777320,0.222680,0.803160,0.196840,MIL,MIL,True
1075,2018-11-04,2019,BRK,PHI,0.406,0.594,0.409810,0.590190,0.407905,0.592095,BRK,PHI,False
1076,2018-11-04,2019,WAS,NYK,0.647,0.353,0.679338,0.320662,0.663169,0.336831,WAS,WAS,True

In [15]:
list1 = FiveThirtyEight['home_team'].unique().tolist()

In [16]:
list2 = ESPN['home_team'].unique().tolist()

In [17]:
inESPNbutNot538 = list(set(list2) - set(list1))

In [18]:
inESPNbutNot538

['USA']

In [19]:
in538butNotESPN = list(set(list1) - set(list2))

In [20]:
in538butNotESPN

[]

In [13]:
combined['home_team'].unique().shape

NameError: name 'combined' is not defined

In [14]:
ESPN['home_team'].unique().shape

(31,)

In [12]:
FiveThirtyEight['home_team'].unique().shape

(30,)

In [79]:
#New Dataframe that appends two datasets:
combined = pd.merge(ESPN, FiveThirtyEight, on=['season', 'home_team', 'away_team'])
combined

,date_x,season,home_team,away_team,ESPN_home_wp,ESPN_away_wp,date_y,538_home_wp,538_away_wp
0,2022-01-01,2022,MIL,NOP,0.778,0.222,2022-01-01,0.812719,0.187281
1,2022-01-02,2022,DET,SAS,0.225,0.775,2022-01-01,0.314551,0.685449
2,2022-01-02,2022,WAS,CHI,0.580,0.420,2022-01-01,0.495383,0.504617
3,2022-01-02,2022,WAS,CHI,0.580,0.420,2022-03-29,0.493970,0.506030
4,2022-03-29,2022,WAS,CHI,0.582,0.418,2022-01-01,0.495383,0.504617
...,...,...,...,...,...,...,...,...,...
8284,2018-11-07,2019,CHA,ATL,0.864,0.136,2018-11-06,0.818829,0.181171
8285,2018-11-07,2019,CHA,ATL,0.864,0.136,2018-11-28,0.852149,0.147851
8286,2018-11-07,2019,DAL,WAS,0.605,0.395,2018-11-06,0.513461,0.486539
8287,2018-11-07,2019,PHX,BKN,0.479,0.521,2018-11-06,0.435605,0.564395
8288,2018-11-07,2019,POR,MIL,0.479,0.521,2018-11-06,0.652391,0.347609

In [57]:
 %run modelDataFrameBuilder.py